<!DOCTYPE html>
<html>
  <head>
    <title>EkanekUpload</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>
  <% if @current_user.present? %>
    <div class='user'>
      Logged in as: <span class='user_name'><%= @current_user.name %></span>&nbsp;&nbsp;
      <span class='user_name'><%= link_to 'Dashboard', documents_path %></span>&nbsp;&nbsp;
      <a href="/log_out" class="btn btn-sm btn-secondary float-end"> LogOut</a></div>
  <%end%>
  <body>
    <%= yield %>
  </body>
</html>
